.map-container {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* You can adjust the z-index as needed */
}

#navbar {
  /* Add your navbar styles here */
}

#instructions {
  position: absolute;
  margin: 20px;
  width: 25%;
  top: 60px; /* Adjust the top value to leave space for the navbar */
  left: 20px; /* Adjust the left value to position it to the left side */
  bottom: 20%; /* Adjust the bottom value as needed */
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  font-family: sans-serif;
  z-index: 2; /* Ensure it's above the map layer */
  @media (min-width: 768px) {
    width: 25%; /* Take up 25% of the width on screens wider than 768px */
    left: 20px; /* Add some space on the left side */
  }
}

/* Mapbox Geocoder Search Bar Styles */
.mapboxgl-ctrl-geocoder {
  width: 100%;
  max-width: 400px; /* Adjust the max-width as needed */
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  outline: none;
}

/* Style the search results dropdown (optional) */
.mapboxgl-ctrl-geocoder .suggestions {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px; /* Adjust the max-height as needed */
  overflow-y: auto;
}

/* Style the search result items (optional) */
.mapboxgl-ctrl-geocoder .suggestions .suggestion {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.mapboxgl-ctrl-geocoder .suggestions .suggestion:hover {
  background-color: #f0f0f0;
}
