@tailwind base;
@tailwind components;
@tailwind utilities;

.icon,
.iconx {
  color: var(--primary-dark);
}

@layer base {
  :root {
    --primary-dark: #5651e5;
    --primary-light: #709dff;
  }

  body {
    @apply font-mono;
  }

  li {
    @apply p-4 text-xl cursor-pointer;
  }
}
