@tailwind base;
@tailwind components;
@tailwind utilities;

.icon,
.iconx {
  color: var(--primary-dark);
}

@layer base {
  :root {
    --primary-dark: #5651e5;
    --primary-light: #709dff;
  }

  body {
    @apply font-mono;
  }

  li {
    @apply p-4 text-xl cursor-pointer;
  }

  .map-container {
    height: 100vh;
  }
  #root,
  body {
    padding: 0;
    margin: 0;
  }

  .sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
  }
}
